.tic-tac-toe-board-container {
	height: 100%;
	margin: 0 auto;
	max-width: 69vw;
	max-height: 69vw;
	width: 100%;

	.tic-tac-toe-board {
		height: 100%;
		margin: 0 auto;
		max-width: 69vh;
		max-height: 69vh;
		width: 100%;

		.row {
			height: 33.333%;
			margin: 0;

			&.ttt-row-0, &.ttt-row-1 {
				border-bottom: black solid 0.75vw;
				height: calc(33.333% + 0.25vw);

				@media (min-width: 100vh) {
					border-bottom: black solid 0.75vh;
				}
			}
			
			&.ttt-row-2 {
				height: calc(33.333% - 0.5vw);
			}
		}
	}
}